ci.yaml

*.DS_Store

.gitsecret/keys/random_seed
!*.secret
renderer/ssh/ssh_host_dsa_key
renderer/ssh/ssh_host_dsa_key.pub
renderer/ssh/ssh_host_ecdsa_key
renderer/ssh/ssh_host_ecdsa_key.pub
renderer/ssh/ssh_host_rsa_key
renderer/ssh/ssh_host_rsa_key.pub
renderer/cloud-init/user-ghifari.yaml
renderer/webhooks/ffmpeg-render-webhook.txt
